body {
    font-family: if(variable-exists(font_family), $font_default, 'Helvetica, Arial, sans-serif');
}

@each $value in $align {
    .text-#{$value} {
        text-align: #{$value} !important;
    }
}

@each $value in $vertical-align {
    .v-align-#{$value} {
        vertical-align: #{$value} !important;
    }
}

@each $value in $float {
    .float-#{$value} {
        float: #{$value} !important;
    }
}

//paragraph type
h3 {
    margin: 0px;
}

.font-bold {
    font-family: 'sansBold';
}
.font-reg {
    font-family: 'sansRegular';
}
.font-light {
    font-family: 'sansLight';
}

.font-white {
    color: $white;
}

// OFFSET //
$offset: 20;

/* Width */
.width-full {
    width: 100% !important;
}

@for $i from 1 through $offset {
    .width-#{25 * $i} {
        width: 25px * $i !important;
    }
}

/* Margin */
.no-margin {
    margin: 0 !important;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.margin-bottom50 {
    margin-bottom: 50px;
}

.margin-left30 {
    margin-left: 30px;
}

.font18 {
    font-size: 18px;
}

.font14 {
  font-size: 14px;
}

a.font-red, .font-red {
    color: $red !important;
}

.font-black {
  color: $black;
}

.uppercase {
    text-transform: uppercase;
}

.img-cont {
  img {
    width: 100%;
  }
}

@for $i from 1 through $offset {
    .margin-#{5 * $i} {
        margin: 5px * $i !important;
    }

    @each $value in $position {
        .margin-#{$value}-#{5 * $i} {
            margin-#{$value}: 5px * $i !important;
        }
    }
}

/* Padding */
.no-padding {
    padding: 0 !important;
}

@for $i from 1 through $offset {
    .padding-#{5 * $i} {
        padding: 5px * $i !important;
    }

    @each $value in $position {
        .padding-#{$value}-#{5 * $i} {
            padding-#{$value}: 5px * $i !important;
        }
    }
}

//custom
ul {
    //list-style: none;

    &.dot-style {
        list-style: disc !important;
    }

    &.no-style {
        list-style: none;
    }
}

.with__paddingtop {
    padding-top: 20px;
}

.display-block {
  display: block;
}

// Bootstrap row Hacking
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.row {

    @include breakpoint(desktop) {

        &.row-inline {
            font-size: 0px;
            > .col-xs-1, > .col-sm-1, > .col-md-1, > .col-lg-1,
            > .col-xs-2, > .col-sm-2, > .col-md-2, > .col-lg-2,
            > .col-xs-3, > .col-sm-3, > .col-md-3, > .col-lg-3,
            > .col-xs-4, > .col-sm-4, > .col-md-4, > .col-lg-4,
            > .col-xs-5, > .col-sm-5, > .col-md-5, > .col-lg-5,
            > .col-xs-6, > .col-sm-6, > .col-md-6, > .col-lg-6,
            > .col-xs-7, > .col-sm-7, > .col-md-7, > .col-lg-7,
            > .col-xs-8, > .col-sm-8, > .col-md-8, > .col-lg-8,
            > .col-xs-9, > .col-sm-9, > .col-md-9, > .col-lg-9,
            > .col-xs-10, > .col-sm-10, > .col-md-10, > .col-lg-10,
            > .col-xs-11, > .col-sm-11, > .col-md-11, > .col-lg-11,
            > .col-xs-12, > .col-sm-12, > .col-md-12, > .col-lg-12 {
                display: inline-block;
                float: none;
                vertical-align: top;
            }
            &.middle {
                > .col-xs-1, > .col-sm-1, > .col-md-1, > .col-lg-1,
                > .col-xs-2, > .col-sm-2, > .col-md-2, > .col-lg-2,
                > .col-xs-3, > .col-sm-3, > .col-md-3, > .col-lg-3,
                > .col-xs-4, > .col-sm-4, > .col-md-4, > .col-lg-4,
                > .col-xs-5, > .col-sm-5, > .col-md-5, > .col-lg-5,
                > .col-xs-6, > .col-sm-6, > .col-md-6, > .col-lg-6,
                > .col-xs-7, > .col-sm-7, > .col-md-7, > .col-lg-7,
                > .col-xs-8, > .col-sm-8, > .col-md-8, > .col-lg-8,
                > .col-xs-9, > .col-sm-9, > .col-md-9, > .col-lg-9,
                > .col-xs-10, > .col-sm-10, > .col-md-10, > .col-lg-10,
                > .col-xs-11, > .col-sm-11, > .col-md-11, > .col-lg-11,
                > .col-xs-12, > .col-sm-12, > .col-md-12, > .col-lg-12 {
                    vertical-align: middle;
                }
            }
            &.bottom {
                > .col-xs-1, > .col-sm-1, > .col-md-1, > .col-lg-1,
                > .col-xs-2, > .col-sm-2, > .col-md-2, > .col-lg-2,
                > .col-xs-3, > .col-sm-3, > .col-md-3, > .col-lg-3,
                > .col-xs-4, > .col-sm-4, > .col-md-4, > .col-lg-4,
                > .col-xs-5, > .col-sm-5, > .col-md-5, > .col-lg-5,
                > .col-xs-6, > .col-sm-6, > .col-md-6, > .col-lg-6,
                > .col-xs-7, > .col-sm-7, > .col-md-7, > .col-lg-7,
                > .col-xs-8, > .col-sm-8, > .col-md-8, > .col-lg-8,
                > .col-xs-9, > .col-sm-9, > .col-md-9, > .col-lg-9,
                > .col-xs-10, > .col-sm-10, > .col-md-10, > .col-lg-10,
                > .col-xs-11, > .col-sm-11, > .col-md-11, > .col-lg-11,
                > .col-xs-12, > .col-sm-12, > .col-md-12, > .col-lg-12 {
                    vertical-align: bottom;
                }
            }
        }

        &.row-table {
            display: table;
            width: 100%;
            > .col-xs-1, > .col-sm-1, > .col-md-1, > .col-lg-1,
            > .col-xs-2, > .col-sm-2, > .col-md-2, > .col-lg-2,
            > .col-xs-3, > .col-sm-3, > .col-md-3, > .col-lg-3,
            > .col-xs-4, > .col-sm-4, > .col-md-4, > .col-lg-4,
            > .col-xs-5, > .col-sm-5, > .col-md-5, > .col-lg-5,
            > .col-xs-6, > .col-sm-6, > .col-md-6, > .col-lg-6,
            > .col-xs-7, > .col-sm-7, > .col-md-7, > .col-lg-7,
            > .col-xs-8, > .col-sm-8, > .col-md-8, > .col-lg-8,
            > .col-xs-9, > .col-sm-9, > .col-md-9, > .col-lg-9,
            > .col-xs-10, > .col-sm-10, > .col-md-10, > .col-lg-10,
            > .col-xs-11, > .col-sm-11, > .col-md-11, > .col-lg-11,
            > .col-xs-12, > .col-sm-12, > .col-md-12, > .col-lg-12 {
                display: table-cell;
                float: none;
                vertical-align: top;
            }
        }

        &.row-0 {
            margin-left: 0;
            margin-right: 0;
            > .col-xs-1, > .col-sm-1, > .col-md-1, > .col-lg-1,
            > .col-xs-2, > .col-sm-2, > .col-md-2, > .col-lg-2,
            > .col-xs-3, > .col-sm-3, > .col-md-3, > .col-lg-3,
            > .col-xs-4, > .col-sm-4, > .col-md-4, > .col-lg-4,
            > .col-xs-5, > .col-sm-5, > .col-md-5, > .col-lg-5,
            > .col-xs-6, > .col-sm-6, > .col-md-6, > .col-lg-6,
            > .col-xs-7, > .col-sm-7, > .col-md-7, > .col-lg-7,
            > .col-xs-8, > .col-sm-8, > .col-md-8, > .col-lg-8,
            > .col-xs-9, > .col-sm-9, > .col-md-9, > .col-lg-9,
            > .col-xs-10, > .col-sm-10, > .col-md-10, > .col-lg-10,
            > .col-xs-11, > .col-sm-11, > .col-md-11, > .col-lg-11,
            > .col-xs-12, > .col-sm-12, > .col-md-12, > .col-lg-12 {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.row-5 {
            margin-left: -5px;
            margin-right: -5px;
            > .col-xs-1, > .col-sm-1, > .col-md-1, > .col-lg-1,
            > .col-xs-2, > .col-sm-2, > .col-md-2, > .col-lg-2,
            > .col-xs-3, > .col-sm-3, > .col-md-3, > .col-lg-3,
            > .col-xs-4, > .col-sm-4, > .col-md-4, > .col-lg-4,
            > .col-xs-5, > .col-sm-5, > .col-md-5, > .col-lg-5,
            > .col-xs-6, > .col-sm-6, > .col-md-6, > .col-lg-6,
            > .col-xs-7, > .col-sm-7, > .col-md-7, > .col-lg-7,
            > .col-xs-8, > .col-sm-8, > .col-md-8, > .col-lg-8,
            > .col-xs-9, > .col-sm-9, > .col-md-9, > .col-lg-9,
            > .col-xs-10, > .col-sm-10, > .col-md-10, > .col-lg-10,
            > .col-xs-11, > .col-sm-11, > .col-md-11, > .col-lg-11,
            > .col-xs-12, > .col-sm-12, > .col-md-12, > .col-lg-12 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        &.row-10 {
            margin-left: -10px;
            margin-right: -10px;
            > .col-xs-1, > .col-sm-1, > .col-md-1, > .col-lg-1,
            > .col-xs-2, > .col-sm-2, > .col-md-2, > .col-lg-2,
            > .col-xs-3, > .col-sm-3, > .col-md-3, > .col-lg-3,
            > .col-xs-4, > .col-sm-4, > .col-md-4, > .col-lg-4,
            > .col-xs-5, > .col-sm-5, > .col-md-5, > .col-lg-5,
            > .col-xs-6, > .col-sm-6, > .col-md-6, > .col-lg-6,
            > .col-xs-7, > .col-sm-7, > .col-md-7, > .col-lg-7,
            > .col-xs-8, > .col-sm-8, > .col-md-8, > .col-lg-8,
            > .col-xs-9, > .col-sm-9, > .col-md-9, > .col-lg-9,
            > .col-xs-10, > .col-sm-10, > .col-md-10, > .col-lg-10,
            > .col-xs-11, > .col-sm-11, > .col-md-11, > .col-lg-11,
            > .col-xs-12, > .col-sm-12, > .col-md-12, > .col-lg-12 {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        &.row-15 {
            margin-left: -15px;
            margin-right: -15px;
            > .col-xs-1, > .col-sm-1, > .col-md-1, > .col-lg-1,
            > .col-xs-2, > .col-sm-2, > .col-md-2, > .col-lg-2,
            > .col-xs-3, > .col-sm-3, > .col-md-3, > .col-lg-3,
            > .col-xs-4, > .col-sm-4, > .col-md-4, > .col-lg-4,
            > .col-xs-5, > .col-sm-5, > .col-md-5, > .col-lg-5,
            > .col-xs-6, > .col-sm-6, > .col-md-6, > .col-lg-6,
            > .col-xs-7, > .col-sm-7, > .col-md-7, > .col-lg-7,
            > .col-xs-8, > .col-sm-8, > .col-md-8, > .col-lg-8,
            > .col-xs-9, > .col-sm-9, > .col-md-9, > .col-lg-9,
            > .col-xs-10, > .col-sm-10, > .col-md-10, > .col-lg-10,
            > .col-xs-11, > .col-sm-11, > .col-md-11, > .col-lg-11,
            > .col-xs-12, > .col-sm-12, > .col-md-12, > .col-lg-12 {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

    }

}
