
@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})

<div class="homepage">
<section class="home-banner">
  <div class="img-cont">
    <img src="assets/img/homebanner.jpg" alt="">
  </div>
  <div class="white-banner">
    Banyak cara seru untuk bikin Ramadan makin menyenangkan
    Ini beberapa inovasi PermataBank untuk membantumu
    mengisi hari-hari penuh makna di bulan suci.<br><br>
    Scroll untuk melihat ragam inovasi PermataBank untuk menemani di bulan Ramadan!
  </div>
</section>
<section class="section2">
  <h2 class="title text-center">
    <img src="assets/img/permataxqip.png" alt="Permatabank & Quran Indonesia Project">
  </h2>
  <h3 class="text-center">
    <img src="assets/img/permataramadan.jpg" alt="Permata Ramadhan">
  </h3>
  <div class="text-cont">
    <p>
      Apa sih, ayat favoritmu dalam Al-Qur’an? Mengapa ayat itu menginspirasimu untuk jadi lebih baik? Dengarkan cerita Satu Hari 1 Ayat dari beragam public figure di sini!
    </p>
  </div>
  <div id="quranId" class="slider-box">
    <div  class="slider-bundle">
      <div class="video-item" data-youtube="YBE5zFK_sLw">
        <div class="video-cont">
          <div class="img-cont yt-play">
            <img src="" alt="">
          </div>
          <iframe class="yt-iframe" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="video-item" data-youtube="YBE5zFK_sLw">
        <div class="video-cont">
          <div class="img-cont yt-play">
            <img src="" alt="">
          </div>
          <iframe class="yt-iframe" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="nav-slider">
      <div class="arrow prev-arrow">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="arrow next-arrow">
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </div>
</section>
<section class="section3">
  <div class="container">
    <div class="row no-margin">
      <div class="col-sm-6 no-padding">
        <h3>
          <img src="assets/img/bicaraauang.png" alt="">
        </h3>
      </div>
      <div class="col-sm-6 no-padding"></div>
    </div>
    <div class="row no-margin">
      <div class="col-sm-4">
        <h4 class="text-center margin-bottom20">
          Mau dapat THR <br>
          (Tabungan Hari Raya)<br>
          dari PermataBank?
        </h4>
        <div class="img-cont">
          <img src="assets/img/total-prize.png" alt="">
        </div>
        <div class="text-cont">
          ini caranya!
          <ol>
            <li>Add LINE Official Account @BicaraUang <a href="">di sini.</a></li>
            <li>Tonton video PermataRamadan di channel LINE TODAY lalu share videonya di akun sosmed kamu.</li>
            <li>Di bagian caption, ceritain pesan positif dari video ini dalam versi dan kisahmu sendiri.</a></li>
            <li>Jangan lupa pake hashtag #PermataRamadanLINETODAY</li>
          </ol>
          Periode kontes: 18 Mei - 18 Juni 2018
        </div>
      </div>
      <div class="col-sm-8">
        <div class="img-cont">
          <img src="assets/img/prize-stat.png" alt="">
        </div>
      </div>
    </div>
    <div class="btn-cont text-center">
      <a class="btn btn-green">Ikuti Kuisnya</a>
    </div>
  </div>
</section>
<section class="section4">
  <h2 class="text-center">
    <img src="assets/img/sketsa-ramadhan.png" alt="">
  </h2>
  <div class="subtitle text-center">Sketsa Ramadan<br>
Pesan Ramon dan Adan</div>
<div class="text-cont text-center">
  <p>
    Ikuti kisah Ramon dan Adan, dua sahabat yang berusaha menjalankan ibadah sebaik mungkin,
walau banyak godaan menerpa.
  </p>
</div>
<div id="quran2" class="slider-box">
  <div  class="slider-bundle">
    <div class="video-item" data-youtube="YBE5zFK_sLw">
      <div class="video-cont">
        <div class="img-cont yt-play">
          <img src="" alt="">
        </div>
        <iframe class="yt-iframe" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="video-item" data-youtube="YBE5zFK_sLw">
      <div class="video-cont">
        <div class="img-cont yt-play">
          <img src="" alt="">
        </div>
        <iframe class="yt-iframe" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="video-item" data-youtube="YBE5zFK_sLw">
      <div class="video-cont">
        <div class="img-cont yt-play">
          <img src="" alt="">
        </div>
        <iframe class="yt-iframe" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="nav-slider">
    <div class="arrow prev-arrow">
      <i class="fa fa-chevron-left"></i>
    </div>
    <div class="arrow next-arrow">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
</div>
</section>
<section class="section5">
  <div class="title-cont">
    <h2>
      <img src="assets/img/section5-title.png" alt="ngobrol pake stiker bisa berangkat umrah">
    </h2>
  </div>
  <div class="phone-cont">
    <div class="img-cont">
      <img src="assets/img/phone-sticker.png" alt="">
    </div>
  </div>
  <div class="text-cont">
    <p>Suka bingung nyari bahan obrolan untuk ngajak bukber atau minta maaf? Coba kasih stiker LINE Ramadan dari PermataBank ini saja!</p>
    <p>Add LINE @BicaraUang untuk <a href="">Download Sekarang</a></p>
    <div class="howto-cont">
      <p>Semakin sering kamu gunakan stiker ini makin besar kesempatan kamu untuk bisa berangkat umrah bareng orang tua lho! Ini caranya:</p><br>
      <p>Add LINE @BicaraUang</p>
      <ul>
        <li>Download stikernya</li>
        <li>Share dan gunakan stiker sebanyak mungkin</li>
        <li>Post Sticker Pack link ke Instagram, tag
	<b>@PermataBank</b> dan gunakan hashtag
	<b>#PermataRamadan #MampukanDiri</b>, beserta
	caption yang menceritakan <b>“kenapa kamu mau
	mengajak orang tua pergi Umrah”</b></li>
        <li> (dua) pemenang akan mendapatkan
	paket Umrah gratis dari Cordova Tour</li>
      </ul>
    </div>
  </div>
</section>
<section class="section6">
  <div class="brand">
    <img src="assets/img/ngabungirit-logo.png" alt="ngabu ngirit">
  </div>
  <div class="row no-margin">
    <div class="col-sm-6">
      <div class="img-cont">
        <img src="assets/img/ngabungirit.png" alt="">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="text-cont">
        <h4>#NgabuNgirit<br>
  Spending Time without <br>
  Spending Dime!</h4>
        <p class="margin-bottom20">
          Siapa bilang ngabuburit seru itu membutuhkan banyak uang. Banyak lho, cara kece tanpa kere untuk mengisi waktu menunggu berbuka. Coba share tips #NgabuNgirit ala kamu, menangkan hadiahnya!
        </p>
        <p>ini caranya:</p>
        <ol>
          <li>Upload foto yang menggambarkan Tips
	            #NgabuNgirit ala kamu di akun Instagram
            </li>
          <li>
            Mention 5 teman dan menyertakan hashtag
          	#NgabuNgirit #TeamNgabuburit
          	#PermataBank #BicaraUang
          </li>
          <li>Pastikan akun instagram kamu tidak dikunci</li>
          <li>Peserta harus follow, tag, dan mention
          	Instagram @PermataBank,
          	serta tag 5 teman kamu
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
</div>



@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})
