
#site-container {
    width: 100%;
    //padding: 20px 0;
    min-height: calc(100% - 250px);
    background: white;
    color: $base;
    padding-top: 65px;
    @include breakpoint(mobile){
      padding-top: 50px;
    }
}

.home-banner {
  .white-banner {
    min-width: 200px;
    max-width: 530px;
    min-height: 100px;
    background: url(../img/banner-white.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto 0px;
    font-family: 'DINbold';
    text-align: center;
    padding: 50px 0px;
    @include breakpoint(mobile){
      padding: 20px;
      max-width: auto;
      min-height: 50px;
    }
  }
}

.section2 {
  min-height: 400px;
  background: #ebebeb url(../img/section2-ornamen.png)no-repeat;
  background-size: 100%;
  background-position: top;
  padding-bottom: 30px;
  h2 {
    margin-bottom: 100px;
    @include breakpoint(mobile){
      margin-bottom: 30px;
    }
    img {
      width: 350px;
      @include breakpoint(mobile){
        width: 280px;
      }
    }
    &.title {
      padding-top: 12%;
    }
  }
  h3 {
    img {
      background-color: #ebebeb;
      mix-blend-mode: multiply;
      @include breakpoint(mobile){
        max-width: 100%;
      }
    }
  }

  .slider-box {
    position: relative;
  }

  .text-cont {
    width: 800px;
    text-align: center;
    margin: 0 auto 30px;
    @include breakpoint(mobile){
      width: auto;
      padding: 0px 10px;
    }
  }

  .video-cont {
		max-width: 60%;
		margin: 0 auto 30px;
    position: relative;

    .img-cont {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

		iframe {
			height: 400px;
			width: 100%;
			@include breakpoint(mobile){
				height: 200px;
			}
		}
	}
}

.section3 {
  background: #34701e;
  color: white;
  padding: 40px 0px;
  h3 {
    margin-bottom: 50px;
    img {
      @include breakpoint(mobile){
        max-width: 100%;
      }
    }
  }

  .img-cont {
    max-width: 500px;
    margin: 0 auto 30px;
  }

  .text-cont {
    font-size: 20px;
    font-family: 'DINbold';
    ol {
      font-family: 'DINpro';
      font-size: 16px;
      margin-top: 10px;
      margin-left: 16px;
      @include breakpoint(mobile){
        font-size: 14px;
      }
      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

.section4 {
  background: #5ebc58;
  color: white;
  min-height: 20px;
  padding: 60px 0px 20px;

  h2 {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .subtitle {
    font-family: 'DINbold';
    font-size: 1.6em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    position: relative;
    &:before {
      content: " ";
      width: 100px;
      height: 5px;
      background: #cccccc;
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .text-cont {
    max-width: 500px;
    margin: 0 auto 40px;
  }

  .slider-box {
    position: relative;
  }

  .text-cont {
    width: 800px;
    text-align: center;
    margin: 0 auto 30px;
    @include breakpoint(mobile){
      width: auto;
      padding: 0px 10px;
    }
  }

  .video-cont {
		max-width: 60%;
		margin: 0 auto 30px;
    position: relative;

    .img-cont {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

		iframe {
			height: 400px;
			width: 100%;
			@include breakpoint(mobile){
				height: 200px;
			}
		}
	}
}

.section5 {
  background: #84a5cc;
  color: white;
  padding: 50px 0px;
  position: relative;
  min-height: 600px;
  h2 {
    text-align: center;
    width: 50%;
    margin: 0 auto 50px;
    position: relative;
    @include breakpoint(mobile){
      width: 60%;
      padding-left: 9%;
    }
    &:before {
      content: " ";
      background: url(../img/border.png);
      width: 100%;
      height: 5px;
      position: absolute;
      top: -20px;
      @include breakpoint(mobile){
        width: 85%;
        height: 3px;
        position: absolute;
        top: -10px;
        background-size: 100% 100%;
      }
    }
    &:after {
      content: " ";
      background: url(../img/border.png);
      width: 100%;
      height: 5px;
      position: absolute;
      bottom: -20px;
      left:0px;
      @include breakpoint(mobile){
        width: 85%;
        height: 3px;
        position: absolute;
        bottom: -10px;
        background-size: 100% 100%;
      }
    }
    img {
      max-width: 100%;
    }
  }
  .phone-cont {
    width: 200px;
    position: absolute;
    left: 23em;
    top: 12em;
    @include breakpoint(mobile){
      width: 75px;
      left: 20px;
      top: 20px;
    }
  }

  .text-cont {
    width: 36%;
    margin-left: 35em;
    @include breakpoint(mobile){
      width: 80%;
      margin: auto
    }

    >p {
      padding-left: 40px;
      @include breakpoint(mobile){
        padding: 30px 0px 0px;
      }
      a {
        color: #0064fa;
        text-decoration: underline;
      }
    }

    .howto-cont {
      color: black;
      min-height: 400px;
      background: url(../img/bubble.png) no-repeat;
      background-size: 100% 100%;
      padding: 30px 80px 100px 80px;
      @include breakpoint(mobile){
        padding: 10px 40px 100px;
        font-size: 12px;
      }
    }
  }
}

.section6 {
  background: #63b348;
  color: white;
  padding: 30px;

  .brand {
    @include breakpoint(mobile){
      max-width: 100%;
      margin: 0 auto 30px;
      text-align: center;
    }
  }

  .img-cont {
    max-width: 500px;
    margin: 0 auto;
  }

  .text-cont {
    h4 {
      font-family: 'DINbold';
      font-size: 26px;
    }
    p {
      font-size: 16px;
    }
    ol {
      padding-left: 20px;
      font-size: 16px;
    }
  }
}
