#site-footer {
  width:100%;
  //height:64px;
  background:#fff;
  }

.page-footer{
  background: black;
  height:50px;
  overflow:hidden;
  padding:1.25rem;
  color:#fff;display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  @include breakpoint(mobile){
    height: 40px;
    font-size: 9px;
    padding: 10px 10px 0px;
  }
}
.site-social a{
  display:inline-block;
  padding-left:1.5rem;
  color:inherit;
  @include breakpoint(mobile){
    padding-left: 5px;
  }
}
  .site-social a i{
    font-style:normal;
    font-weight:400;
    font-size:20px;
    -webkit-font-feature-settings:normal;
    font-feature-settings:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    @include breakpoint(mobile){
      font-size: 14px;
    }
  }
