#site-header {
    width: 100%;
    height: 65px;
    //background: skyblue;
    font-family: 'DINbold';
    position: fixed;
    z-index: 10;
    background: white;
    @include breakpoint(mobile){
      height: 50px;
    }

    .navbar {
      border: none;
      .navbar-collapse {
        border: none;
      }
    }
}

.navbar-toggle .icon-bar {
    background: #1b1b1b
}

.navbar-collapse {
  padding: 0px;
}

.brand {
  &.for__mobile {
    width: 80px;
  }
}

.navbar-nav {
    width: 100%;
    text-align: center;
    @include breakpoint(mobile){
      margin: 0px;
      background: white;
    }
    &.nav {
      li {
        a {
          &:hover,
          &:focus {
            background: none;
            color: green;
          }
        }
      }
    }
    > li {
      float: none;
      display: inline-block;
      @include breakpoint(mobile){
        display: block;
        &:last-child {
          margin-bottom: 20px;
        }
      }
      a {
        font-size: 12px;
        color: $black;
        letter-spacing: 2px;
        text-transform: uppercase;

        &.social {
          display: inline-block;
          padding: 0px;
          min-width: 20px;
          color: $lightgrey;
          &:hover {
            background: none;
            color: green;
          }
          &:first-child {
            color: inherit;

          }
        }
      }
    }

  }
