//widget area

.yt-play {
	position: relative;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%,-50%);
	cursor: pointer;
	&:before {
		content: "\f16a";
		font-family: "FontAwesome";
		position: absolute;
		width: 48px;
		height: 48px;
		// background: red;
		font-size: 50px;
		color: red;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 4;
		&:hover {
			color: white
		}
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

	}
}

.nav-slider {
	width: 100%;
	position: absolute;
	top: 50%;
	@include breakpoint(mobile){
		top: 30%;
	}
	.arrow {
		position: absolute;
		border-radius: 6px;
    padding: 0px 8px 10px;
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 28px;
    cursor: pointer;
    color: skyblue;
    border: 2px solid skyblue;

    cursor: pointer;
		&.prev-arrow {
			left: 20px;
		}
		&.next-arrow {
			right: 20px;
			padding-left: 15px;
		}

	}
}

#quran2 {
	.nav-slider {
		width: 100%;
		position: absolute;
		top: 50%;
		@include breakpoint(mobile){
			top: 30%;
		}
		.arrow {
			position: absolute;
			border-radius: 6px;
	    padding: 0px 8px 10px;
	    display: inline-block;
	    width: 45px;
	    height: 45px;
	    font-size: 28px;
	    cursor: pointer;
	    color: white;
	    border: 2px solid white;

	    cursor: pointer;
			&.prev-arrow {
				left: 20px;
			}
			&.next-arrow {
				right: 20px;
				padding-left: 15px;
			}

		}
	}

	.slick-dots li {
		&.slick-active {
			button {
				background: black;
			}
		}
		button {
	    font-size: 0;
	    line-height: 0;
	    display: block;
	    width: 25px;
	    height: 3px;
	    padding: 0;
	    cursor: pointer;
	    color: transparent;
	    border: 0;
	    outline: none;
	    background: transparent;
	    background: white;
			&:before {
				display: none;
			}
		}
	}
}

.btn {

	&.btn-green {
		border: none;
		background: #63b348;
		font-family: 'DINpro';
		font-size: 18px;
		&:hover {

			background: #63c448;
		}
	}
}
