
@font-face {
  font-family: 'DINNextLTPro-BoldItalic';
  src: url('DINNextLTPro-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('DINNextLTPro-BoldItalic.otf')  format('opentype'),
	     url('DINNextLTPro-BoldItalic.woff') format('woff'), url('DINNextLTPro-BoldItalic.ttf')  format('truetype'), url('DINNextLTPro-BoldItalic.svg#DINNextLTPro-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
