
    </div>
    <!-- CONTAINER -->

    <!-- FOOTER -->
    <div id="site-footer">
      <div class="page-footer" id="footer">
        <div class="site-info">
          <p>PT. Bank Permata Tbk terdaftar dan diawasi oleh Otoritas Jasa Keuangan</p>
        </div>
        <div class="site-social">
          <a href="https://www.facebook.com/PermataFamily/"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/PermataFamily/"><i class="fa fa-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCO1ACp1qoghDt7lLQcQPr5g"><i class="fa fa-youtube"></i></a>
          <a href="http://instagram.com/permatabank"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <!-- FOOTER -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>

    @@if (context.script) {
      @@for(var i=0;i<script.length;i++) {
        <script src="`+script[i]+`" ></script>
      }
    }

  </body>
</html>
